<template>
  <Form>
    <template #header>
      <h2>Welcome to the Unit Form</h2>
    </template>
    <template #extra-inputs>
      <select>
        <option>I am an extra select!</option>
      </select>
    </template>
  </Form>
</template>

<script>
import Form from '../shared/Form.vue';

export default {
  name: 'UnitForm',
  data() {
    'Unit Form';
  },
  components: {
    Form
  }
};
</script>
