<template>
  <Grid v-bind="{ columns, items, title }" />
</template>

<script>
// Constants
import Constants from '../../constants/constants';

// Services
import AjaxService from '../../services/ajax.service';

// Components
import Grid from '../shared/Grid.vue';

export default {
  name: 'UnitGrid',
  data() {
    return {
      api: { ...Constants.api.unit },
      columns: [],
      items: [],
      title: 'Unit Grid'
    };
  },
  components: {
    Grid
  },
  created() {
    this.loadData = async () => {
      this.columns = await AjaxService.getData(this.api.columns);
      this.items = await AjaxService.getData(this.api.items);
    };
  },
  mounted() {
    this.loadData();
  }
};
</script>
