﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreVueKendo.MVC</title>
</head>
<body>
    @RenderBody()

    <script src="~/dist/master.min.js"></script>
    <script src="~/dist/vendor.min.js"></script>
    <script src="~/dist/style.min.js"></script>
</body>
</html>
