<template>
  <Form>
    <template #header>
      <h2>Welcome to the Manufacturer Form</h2>
    </template>
    <template #extra-inputs>
      <input name="extraInput" placeholder="I am an extra input!" />
    </template>
  </Form>
</template>

<script>
import Form from '../shared/Form.vue';

export default {
  name: 'ManufacturerForm',
  data() {
    'Manufacturer Form';
  },
  components: {
    Form
  }
};
</script>
