<template>
  <form>
    <slot name="header">
      <h2>I am a fallback header!</h2>
    </slot>

    <input name="input1" />
    <input name="input2" />

    <select>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>

    <slot name="extra-inputs"></slot>
  </form>
</template>

<script>
export default {
  name: 'Form',
  props: {
    title: {
      type: String
    }
  }
};
</script>
