<template>
  <div>
    <h1>{{ title }}</h1>
    <KendoUiGrid :style="{ height: '500px' }" :columns="columns" :data-items="items" />
  </div>
</template>

<script>
import { Grid as KendoUiGrid } from '@progress/kendo-vue-grid';

export default {
  name: 'Grid',
  props: {
    columns: {
      type: Array,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  components: {
    KendoUiGrid
  }
};
</script>

<style lang="scss">
@import '~@progress/kendo-theme-default/dist/all.css';
</style>
